/* line 1, contao-multi-column-editor-bundle.scss */
.multi-column-editor-label {
  clear: left;
}

/* line 7, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .add {
  margin: 10px 0;
}
/* line 11, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row {
  clear: left;
}
/* line 15, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row.row_1 .tl_checkbox_single_container {
  margin-top: 39px !important;
}
/* line 20, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .form-group {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
  vertical-align: top;
}
/* line 27, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .form-group input[type="text"], .multi-column-editor-wrapper .multi-column-editor .mce-row .form-group input[type="password"] {
  width: 100% !important;
}
/* line 32, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .form-group.wizard input[type="text"], .multi-column-editor-wrapper .multi-column-editor .mce-row .form-group.wizard input[type="password"] {
  width: 83% !important;
}
/* line 37, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .form-group .tl_checkbox_single_container {
  margin-top: 6px;
}
/* line 41, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .form-group > h3 {
  padding-top: 0;
}
/* line 48, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row:not(:first-child) .form-group > h3 {
  display: none;
}
/* line 56, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row:first-child .form-group > h3 {
  padding-top: 14px;
}
/* line 61, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row:first-child .actions {
  margin-top: 39px;
  margin-left: 0;
}
/* line 67, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .actions {
  display: inline-block;
  margin-top: 8px;
  margin-left: 0;
}
/* line 72, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper .multi-column-editor .mce-row .actions .drag-handle {
  background: none;
  border: none;
}
/* line 80, contao-multi-column-editor-bundle.scss */
.multi-column-editor-wrapper + .tl_tip {
  clear: left;
}
