.multi-column-editor-label {
  clear: left;
}

.multi-column-editor-wrapper {
  .multi-column-editor {
    border: 1px solid #d0d0d2;

    .mce-row {
      display: flex;
      padding: .5rem .5rem 0;
      background: #f3f3f5;

      .fields {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        clear: left;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }

      &:nth-child(even) {
        background: #f9f9f9;
      }

      &:hover,
      &:focus {
        background-color: #fffbd1;
      }

      .form-group {
        margin-right: 10px;
        position: relative;
        margin-bottom: .5rem;
        vertical-align: top;

        fieldset {
          &.tl_checkbox_container,
          &.tl_radio_container {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        input[type="text"], input[type="password"] {
          width: 100% !important;
        }

        &.wizard {
          input[type="text"], input[type="password"] {
            width: 83% !important;
          }
        }

        > h3 {
          padding-top: 0;
        }
      }

      &:first-child {
        .form-group {
          > h3 {
            padding-top: 14px;
          }
        }
      }

      .actions {
        display: inline-block;
        margin-left: auto;
        align-self: center;

        .drag-handle {
          background: none;
          border: none;
        }
      }
    }
  }

  & + .tl_tip {
    clear: left;
  }
}