.multi-column-editor-label {
  clear: left;
}

.multi-column-editor-wrapper {
  .multi-column-editor {
    .add {
      margin: 10px 0;
    }

    .mce-row {
      clear: left;

      &.row_1 {
        .tl_checkbox_single_container {
          margin-top: 39px !important;
        }
      }

      .form-group {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        margin-bottom: 10px;
        vertical-align: top;

        input[type="text"], input[type="password"] {
          width: 100% !important;
        }

        &.wizard {
          input[type="text"], input[type="password"] {
            width: 83% !important;
          }
        }

        .tl_checkbox_single_container {
          margin-top: 6px;
        }

        > h3 {
          padding-top: 0;
        }
      }

      &:not(:first-child){
        .form-group {
          > h3{
            display: none;
          }
        }
      }

      &:first-child {
        .form-group {
          > h3 {
            padding-top: 14px;
          }
        }

        .actions {
          margin-top: 39px;
          margin-left: 0;
        }
      }

      .actions {
        display: inline-block;
        margin-top: 8px;
        margin-left: 0;

        .drag-handle {
          background: none;
          border: none;
        }
      }
    }
  }

  & + .tl_tip {
    clear: left;
  }
}