.multi-column-editor-label {
  clear: left;
}

.multi-column-editor-wrapper {
  .multi-column-editor {

    .rows {
      border: 1px solid #d0d0d2;
    }

    .mce-row {
      display: flex;
      padding: .5rem .5rem 0;
      background: #f3f3f5;

      .fields {
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        clear: left;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }

      &:nth-child(even) {
        background: #f9f9f9;
      }

      &:hover,
      &:focus {
        background-color: #fffbd1;
      }

      .form-group {
        padding-right: 10px;
        position: relative;
        margin-bottom: .5rem;
        vertical-align: top;

        fieldset {
          &.tl_checkbox_container,
          &.tl_radio_container {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        input[type="text"], input[type="password"] {
          width: 100% !important;
        }

        &.wizard {
          input[type="text"], input[type="password"] {
            margin-right: -26px;
            padding-right: 26px;
          }
        }

        > h3 {
          padding-top: 0;
        }
      }

      .actions {
        display: inline-block;
        margin-left: auto;
        align-self: end;
        min-width: 60px;
        text-align: right;
        margin-top: .75rem;

        .drag-handle {
          background: none;
          border: none;
        }
      }
    }

    .rows.grouped {
      border: none;

      > .mce-row {
        border: 1px solid #d0d0d2;
        display: block;
        padding: 0;
        margin-bottom: 2px;
        position: relative;

        & > fieldset {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;

          & > legend {
            padding: 9px 0 9px 28px;
            background-position-y: 11px;
          }

          & > .fields {
            padding: .5rem 15px 0;
          }
        }

        .actions {
          position: absolute;
          top: 9px;
          right: 9px;
          margin: 0;
        }
      }
    }
  }

  & + .tl_tip {
    clear: left;
  }
}
